{% extends "base.html" %}

{% block title %}Forgot Password{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='forgot_password.css') }}">
{% endblock %}

{% block content %}
<div class="forgot-password-container">

    <div class="forgot-password-card">

        <h1>Reset Your Password</h1>

        <p class="subtitle">
            Enter your email to receive a reset link.
        </p>

        <form action="{{ url_for('auth.forgot_password') }}" method="POST">
             <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <label>UWA Email</label>

            <input
                type="email"
                name="email"
                placeholder="example@student.uwa.edu.au"
                required
            >
            <button type="submit" class="btn-reset">
                Send Reset Link
            </button>

        </form>

        <div class="auth-footer">
            <a href="{{ url_for('auth.signin') }}">
                Back to Sign In
            </a>
        </div>

    </div>

</div>
{% endblock %}