<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Signup.css') }}" />
  </head>

  <body>
    <nav class="navbar">
      <div class="nav-left">UWA Social Timetable</div>
    </nav>

    <div class="container">
      <div class="card">
        <h1>Create your Account:</h1>
        <br />
        {% if error %}
        <p class="form-error">{{ error }}</p>
        {% endif %}
        <form class="login-form" method="post" action="{{ url_for('signup') }}">
          <label>Username</label>
          <input type="text" name="username" placeholder="eg. Michael Jones" required />
          <label>Nickname</label>
          <input type="text" name="nickname" placeholder="eg. Mike" />
          <label>New Password</label>
          <input type="password" name="password" placeholder="Enter your New Password" required />
          <label>Confirm New Password</label>
          <input
            type="password"
            name="confirm_password"
            placeholder="Confirm your New Password"
            required
          />
          <label>UWA Student Email</label>
          <input type="email" name="email" placeholder="eg. Name@student.uwa.edu.au" />
          <br />
          <button type="submit">Sign Up</button>
          <p class="signup-text">
            Already have an account?
            <a href="/signin">Sign in here</a>
          </p>
        </form>
      </div>
    </div>
  </body>
</html>
