<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='signin.css') }}" />
  </head>

  <body>
    <nav class="navbar">
      <div class="nav-left">UWA Social Timetable</div>
    </nav>

    <div class="container">
      <div class="card">
        <h1>Welcome to UWA Social Timetable!</h1>
        <p class="subtitle">Sign in to your account:</p>
        {% if error %}
        <p style="color: red;">{{ error }}</p>
        {% endif %}
        <form class="login-form" action="/signin" method="POST">
          <label>Username</label>
          <input type="text" name="username" placeholder="Enter your username" />
          <label>Password</label>
          <input type="password" name="password" placeholder="Enter your password" />
          <button type="submit">Sign In</button>
          <br />
          <p class="signup-text">
            Don't have an account?
            <a href="/signup">Sign up here</a>
          </p>
        </form>
      </div>
    </div>
  </body>
</html>
