<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Signin.css') }}" />
  </head>

  <body>
    <nav class="navbar">
      <div class="nav-left">UWA Social Timetable</div>
    </nav>

    <div class="container">
      <div class="card">
        <h1>Welcome to UWA Social Timetable!</h1>
        <p class="subtitle">Sign in to your account:</p>
        {% if error %}
        <p class="form-error">{{ error }}</p>
        {% endif %}
        <form class="login-form" method="post" action="{{ url_for('signin') }}">
          <label>Username</label>
          <input type="text" name="username" placeholder="Enter your username" required />
          <label>Password</label>
          <input type="password" name="password" placeholder="Enter your password" required />
          <button type="submit">Sign In</button>
          <br />
          <p class="signup-text">
            Don't have an account?
            <a href="/signup">Sign up here</a>
          </p>
        </form>
      </div>
    </div>
    <script src = "{{url_for('static',filename='js/signin.js')}}"></script>
  </body>
</html>
